.font-h1 {
	font-size: 2.5em;
}

.font-h2 {
	font-size: 2em;
}

.font-h3 {
	font-size: 1.8em;
}

.font-h4 {
	font-size: 1.5em;
}

body {
	background-color: white;
}

.register-restaurant-panel {
	width: 70%;
}

.login-restaurant-panel {
	width: 50%;
}

.restaurant-view.center-align {
	padding: 0 !important;
}

.buton-collapse-close-container{
	padding-top: 1em;
}

span.buton-collapse-close {
	font-size: 1.5em;
}

.buton-collapse-close-a {
	color: black;
	text-decoration: none;
}

.restaurant-title {
	font-size: 2em;
}

.restaurant-subtitle {
	font-size: 1.2em !important;
}

.restaurant-panel-message {
	font-size: 1.5em;
}

/*table */
	.table-container {
	width: 80%;
	margin: 0 auto;
}

/*edit account*/
.edit-form {
	margin: 0 auto;
	width: 80%;
}


/*button of choice*/
	.choice-h1{
		font-size: 3.5em;
	}

	.choice-general {
		opacity: .9;
		background-color: #e65100;
		color: white;
		padding: .2em 1em;
		border-radius: 5px;
	}

	.choice-h2 {
		font-size: 2em;
	}

	@media screen and ( max-width:480px ) {
		.choice-h1 {
			font-size: 2em;
		}

		.choice-h2 {
			font-size: 1.5em;
		}
	}

	@media screen and ( min-width: 481px ) {
		.choice-h1 {
			font-size: 2.5em;
		}

		.choice-h2 {
			font-size: 2em;
		}
	}

	@media screen and ( min-width: 961px ) {
		.choice-h1 {
			font-size: 3,5em;
		}

		.choice-h2 {
			font-size: 2em;
		}
	}

/*index.php*/
.card-title {
	font-size: 2em;
	font-weight: bold !important;
}

.caption-title {
	font-size: 2em;
	height: 1em;
}

.card-address {
	padding-right: 1em;
}

.file-input-title {
	font-size: 2em;
	height: 1em;
}

.edit-tables-form-hidden {
	display: none;
}

/*footer*/
.page-footer {
	background-color: #fb8c00;
	margin-top: 2em;
}

.footer-copyright {
	background-color: black;
}

