	body {
		background-color: #f6f9f7;
	}

.font-h1 {
	font-size: 2.5em;
}

.font-h2 {
	font-size: 2em;
}

.font-h3 {
	font-size: 1.8em;
}

.font-h4 {
	font-size: 1.5em;
}
	/*header section*/
#header {
	width: 100%;
	height: auto;
}

.parallax-container {
		height: 60vh;
	}

	/*adjusting logo for screen sizes*/
	@media screen and ( max-width: 480px ){
		.logo {
			height: 70px;
	    width: 150px;
	    opacity: .9;
	    padding-top: .5em;
		}
	}

	@media screen and ( min-width: 481px ){
		.logo {
			height: 80px;
			width: 200px;
	    opacity: .9;
	    padding-top: .5em;
		}
	}

	/*adjusting menu button for screen sizes */
	.button-collapse {
		position: fixed;
		z-index: 9999;
	}
	#menu-button {
		border: 1px solid black;
		opacity: .9;
		background-color: white;
		font-size: 2.3em;
		color: black;
		border-radius: 5px;
		cursor: pointer;
		
	}
	
	@media screen and ( max-width: 481px){
		#menu-button {
			margin-top: .5em;
			margin-right: 1em;
		}
	}
	@media screen and (min-width: 482px) {
		#menu-button {
			margin-top: .5em;
			margin-right: 2em;
		}
	}

	/*menu*/
	@media screen and (max-width: 480px){
		.side-menu {
			max-width: 60%;
		}
	}

	/*button of choice*/
	.choice-h1{
<<<<<<< HEAD
		font-size: 3.5em;
=======
		font-size: 4em;
>>>>>>> 1cf87af73e977cad5d503bddc039ab5c175268b7
	}

	.choice-general {
		opacity: .9;
		background-color: #e65100;
		color: white;
		padding: .2em 1em;
		border-radius: 5px;
	}

	.choice-h2 {
		font-size: 2em;
	}

<<<<<<< HEAD
	@media screen and ( max-width:480px ) {
		.choice-h1 {
			font-size: 1.5em;
		}

		.choice-h2 {
			font-size: 1.5em;
		}
	}

	@media screen and ( min-width: 481px ) {
		.choice-h1 {
			font-size: 2em;
		}

		.choice-h2 {
			font-size: 1.6em;
		}
	}

	@media screen and ( min-width: 961px ) {
		.choice-h1 {
			font-size: 3,5em;
		}

		.choice-h2 {
			font-size: 1.6em;
		}
	}

=======
>>>>>>> 1cf87af73e977cad5d503bddc039ab5c175268b7
	.choice-text {
		padding: .2em .6em;
		background-color: #ef6c00;
		color: white;
		border-radius: 8px;
	}

	.choice-text:hover {
		padding: .2em .6em;
		background-color: #e65100;
		color: white;
		border-radius: 8px;
	}

	/*Random navbar*/

	.buton-collapse-close-container{
		padding-top: 1em;
	}

	span.buton-collapse-close {
		font-size: 1.5em;
	}

	.buton-collapse-close-a {
		color: black;
		text-decoration: none;
	}

	.random-navbar-title {
		margin-bottom: 1em;
	}

	.menu-user-info {
		font-size: 1.2em;
		font-weight: bold;
		color: white;
		padding: 0 .5em;
		text-shadow: 2px 2px black;
		opacity: .8;
	}

	.menu-user-info:hover {
		font-size: 1.2em;
		font-weight: bold;
		color: white;
		padding: 0 .5em;
		text-shadow: 2px 2px black;
		opacity: 1;
	}

	/*main section*/
	
	.how-it-works {
		font-size: 1.5em;
	}
	.info-break {
		margin: 0 auto;
		color: black;
	}	

	.info-break-text {
		margin: 0 auto;
		font-size: 1.7em;
	}

	.arrow-down {
		font-size: 3em;
		padding: 1 1em;
	}

	#section2 {
		padding: 1em 0 1em 0;
		margin-top: 2em;
		background-color: white;
	}

	.stopka {
		max-width: 120px;
		max-height: 120px;
	}

	/*slider*/
	.slider {
		margin: 0 auto !important;
		width: 180px;
		height: 220px!important;
	}
	
	.slides {
		border: 1px solid black;
		height: 170px!important;
	}

	/*Map styles*/

#map {
  height: 80vh;
  width: 100%;
}

.restaurant-link-container {
	width: 100%;
}

.restaurant-link {
	margin-left: 1em;
	font-weight: bold;
	color: red;
	text-decoration: none;
}

<<<<<<< HEAD
	/*restaurants secion*/
.restaurants-filter {
	position: absolute;
}

.filter-title {
	font-size: 1.5em;
	height: .5em;
}

.restaurant-card {
	padding: 1em 0;
}

.card-image {
	max-height: 200px;
}

.card-title {
	font-size: 1.7em !important;
	font-weight: bold !important;
	margin: 0;
}

.card-caption {
	font-size: 1.1em;
}
=======
	
>>>>>>> 1cf87af73e977cad5d503bddc039ab5c175268b7
	
.card-address {
	padding-left: 1em;
}

@media screen and (max-width: 480px ){
	.card-title {
		font-size: 1em !important;
		font-weight: bold !important;
		margin: 0;
	}

	.card-caption {
		font-size: .8em;
	}

	.card-address {
		padding-right: 1em;
		font-size: .8em;
	}
}

@media screen and (min-width: 481px ){
	.card-title {
		font-size: 1.5em !important;
		font-weight: bold !important;
		margin: 0;
	}

	.card-caption {
		font-size: 1em;
	}

	.card-address {
		padding-right: 1em;
		font-size: .8em;
	}
}

@media screen and (min-width: 600px ){
	.card-title {
		font-size: 1.2em !important;
		font-weight: bold !important;
		margin: 0;
	}

	.card-caption {
		font-size: 1em;
	}

	.card-address {
		padding-right: .8em;
		font-size: 1em;
	}
}

@media screen and (min-width: 800px ){
	.card-title {
		font-size: 1.7em !important;
		font-weight: bold !important;
		margin: 0;
	}

	.card-caption {
		font-size: 1em;
	}

	.card-address {
		padding-right: .8em;
		font-size: 1em;
	}
}	

@media screen and (min-width: 960px ){
	.card-title {
		font-size: 2em !important;
		font-weight: bold !important;
		margin: 0;
	}

	.card-caption {
		font-size: 1em;
	}

	.card-address {
		padding-right: .8em;
		font-size: 1em;
	}
}

/*chosen restaurant*/
.table-title {
	font-size: 2em;
}

	



	