#header {
	height: 50%;
}

.register-user-panel {
	width: 50%;
}

.errors-container {
	width: 50%;
}

.errors-title {
	font-size: 2em !important;
	color: red;
}

.parallax-container {
	height: 60vh!important;
}

.user-view.center-align {
	padding: 0 !important;
}

.buton-collapse-close-container{
	padding-top: 1em;
}

span.buton-collapse-close {
	font-size: 1.5em;
}

.buton-collapse-close-a {
	color: black;
	text-decoration: none;
}

.user-title {
	font-size: 2em;
}

.user-subtitle {
	font-size: 1.2em !important;
}

.user-panel-message {
	font-size: 1.5em;
}

/*Map styles*/

#map {
  height: 80vh;
  width: 100%;
}

.restaurant-link-container {
	width: 100%;
}

.restaurant-link {
	margin-left: 1em;
	font-weight: bold;
	color: red;
	text-decoration: none;
}

/*table */
	.table-container {
	width: 80%;
	margin: 0 auto;
}

/*edit account form */
.edit-form {
	margin: 0 auto;
	width: 80%;
}

